extends wrapper.jade

block title
    h1.page-header Dashboard

block content
    each dash in dashboard
        .row
            .col-lg-12
                .panel.panel-default
                    .panel-body
                        h3 #{dash.name.en}
                        p #{dash.desc.en}
                        .row
                            each item in dash.items
                                .col-md-2  
                                    .panel.panel-green&attributes(item.filter)
                                        .panel-heading                               
                                            | #{item.name.en} 
                                        .panel-body
                                            | #{value}
                                        .panel-footer
                                            | #{item.desc.en}
block script            
    script(src='/js/dashboard.js')                                