extends wrapper.jade
extends wrapper.jade

block title
    h1.page-header #{currentThing.humanName}

block content
    each driver in currentThing.drivers
        .row
            .col-lg-6
                .panel.panel-default
                    .panel-heading
                        | #{driver.name.en}
                    .panel-body
                        .table-responsive
                            table.table.table-striped.table-bordered.table-hover
                                thead
                                    tr 
                                        th device
                                        th sensor
                                        th value
                                tbody(id='#{driver.id}')
                                    - if (typeof(currentThing.devices) !== 'undefined'){
                                        each device in currentThing.devices
                                            each value, key in device.state
                                                - var rowid = device.id + '_' + key
                                                - var rowid = rowid.replace(/:/g, '-')
                                                tr(id='#{rowid}')
                                                    td #{device.id}
                                                    td #{key}
                                                    td #{value}
                                    -}
        - if (typeof(currentThing.devices) !== 'undefined'){
            each device in currentThing.devices
                .row
                    .col-lg-6
                        .panel.panel-default
                            .panel-heading
                                | #{driver.name.en} #{device.id}
                            .panel-body
                                .table-responsive
                                    table.table.table-striped.table-bordered.table-hover
                                        thead
                                            tr
                                                th type
                                                th method
                                                th description
                                                th arguments
                                                th call
                                        tbody
                                            each item in flowitems
                                                tr
                                                    td #{item.type}
                                                    td #{item.meta.method}
                                                    td #{item.meta.title.en}
                                                    td
                                                    - if (typeof(item.meta.args) !== 'undefined'){
                                                        each arg in item.meta.args
                                                            - if (typeof(arg) !== 'undefined'){
                                                                #{arg.name}
                                                            -}
                                                    -}
                                                    td
                                                        a(href="#" onclick="callFlowItem('#{item.type}', #{item.id}, '#{driver.id}', '#{device.id}')") call method
        -}

block script            
    script(src='/js/thing.js')  