extends wrapper.jade

block title
    h1.page-header Flow Manager

block content
    .row
            .col-lg-6
                .panel.panel-default
                    .panel-heading
                        | Actions
                    .panel-body
                        .table-responsive
                            table.table.table-striped.table-bordered.table-hover
                                thead
                                    tr
                                        th method
                                        th description
                                        th arguments
                                tbody
                                    each item in flowitems
                                        if item.type == 'action'
                                            tr
                                                td #{item.meta.method}
                                                td #{item.meta.title.en}
                                                
                                                each arg in item.meta.args
                                                    td #{arg.name}
                                                                                                
    .row
            .col-lg-6
                .panel.panel-default
                    .panel-heading
                        | Triggers
                    .panel-body
                        .table-responsive
                            table.table.table-striped.table-bordered.table-hover
                                thead
                                    tr
                                        th method
                                        th description
                                        th type
                                tbody
                                    each item in flowitems
                                        if item.type == 'trigger'
                                            tr
                                                td #{item.meta.method}
                                                td #{item.meta.title.en}
                                                td #{item.type}      
                                                
    .row
            .col-lg-6
                .panel.panel-default
                    .panel-heading
                        | Conditions
                    .panel-body
                        .table-responsive
                            table.table.table-striped.table-bordered.table-hover
                                thead
                                    tr
                                        th method
                                        th description
                                        th type
                                tbody
                                    each item in flowitems
                                        if item.type == 'condition'
                                            tr
                                                td #{item.meta.method}
                                                td #{item.meta.title.en}
                                                td #{item.type}                                                   


            .row
                .col-lg-12

                    .panel.panel-default
                        .panel-heading
                            | Current Flows
                        .panel-body
                            .table-responsive
                                table.table.table-striped.table-bordered.table-hover
                                    thead
                                        tr
                                            th Name
                                            th When
                                            th And
                                            th Then
                                    tbody
                                        each flow in flows
                                            tr
                                                - console.log(flow.trigger)
                                                td #{flow.name}
                                                td #{flow.trigger.item.meta.title.en}
                                                td 
                                                    each condition in flow.trigger.conditionset.conditions
                                                        //p #{condition.thing}:#{condition.method}
                                                        p #{condition.item.meta.title.en}
                                                        each arg in condition.args 
                                                            p device #{arg.device.data.id}
                                                td
                                                    each action in flow.trigger.conditionset.actions
                                                        //p #{action.thing}:#{action.method}
                                                        p #{action.item.meta.title.en}
                                                        each arg in action.args 
                                                            p device #{arg.device.data.id}

                                                
                                                
block script            
    script(src='/js/thing.js')  